@model LibraLibrium.Services.Identity.API.Models.AccountViewModels.LoginViewModel
﻿
@{
    ViewData["Title"] = "Sign in";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-login">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <h4 class="text-left mb-4">ARE YOU REGISTERED?</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label form-label"></label>
                        <input name="Username" class="form-control form-input w-100" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label form-label"></label>
                        <input name="Password" class="form-control form-input w-100" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button type="submit" class="btn btn-primary">LOG IN</button>
                    </div>
                    <div class="form-login-register-link text-center mt-3">
                        <a class="text-link" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </div>

                </form>
                <div class="form-login-details">
                    <div>
                        Note that for demo purposes you don't need to register and can login with these credentials:
                    </div>
                    <div>
                        User: <strong>demouser</strong> Password: <strong>Pass@word1</strong>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>